In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/adzuna_transform.csv')

In [5]:
df.head()

,id,post_url,title,title_keyword,tags,description,publication_date,location,latitude,longitude,inserted_date
0,A1549335342,https://www.adzuna.com/land/ad/1549335342?se=T...,Data Engineer,data_engineer,it_jobs,... for good. <strong>Data</strong> <strong>E...,2020-05-19,"['US', 'Illinois', 'Cook County', 'Chicago', '...",41.868494,-87.673975,2020-05-23
1,A1537091904,https://www.adzuna.com/land/ad/1537091904?se=T...,Data Engineer / Lead Data Engineer,data_engineer_/_lead_data_engineer,it_jobs,"Menlo Park, CA <strong>Data</strong> <strong>E...",2020-05-05,"['US', 'California', 'San Mateo County', 'Menl...",37.448491,-122.180281,2020-05-23
2,A1540746038,https://www.adzuna.com/land/ad/1540746038?se=T...,Data Engineer,data_engineer,it_jobs,<strong>Data</strong> <strong>Engineer</strong...,2020-05-09,"['US', 'Washington', 'King County', 'Seattle']",47.608492,-122.336407,2020-05-23
3,A1533100037,https://www.adzuna.com/land/ad/1533100037?se=T...,Data Engineer,data_engineer,it_jobs,Role <strong>Data</strong> <strong>Engineer</s...,2020-04-30,"['US', 'Delaware', 'New Castle County', 'Wilmi...",39.731260,-75.545138,2020-05-23
4,A1550148404,https://www.adzuna.com/land/ad/1550148404?se=T...,Data Engineer,data_engineer,it_jobs,Role FullStack <strong>Data</strong> <strong>E...,2020-05-20,"['US', 'New York']",42.522869,-75.574677,2020-05-23

In [ ]:
# use elasticsearch Bulk API to perform multipe indexing operations in a single API call...
# looks something like 

POST jobs/_bulk
{ index" : { "_id" : "id" }}
{ "post_url": "url", "title": "title"}

# if indexing a document:
# { "index" : { "_index" : "test", "_id" : "1" } }
# { "field1" : "value1" }
# { "delete" : { "_index" : "test", "_id" : "2" } }
# { "create" : { "_index" : "test", "_id" : "3" } }
# { "field1" : "value3" }
# { "update" : {"_id" : "1", "_index" : "test"} }
# { "doc" : {"field2" : "value2"} }

# thinking about transforming it to a json object, and then looping over it????

In [12]:
query = dict()

In [17]:
for index, row in df.iterrows():
    query["_id"] = row["id"]

In [18]:
query

{'_id': 'A1552144263'}

In [ ]:
import json

data = {}
data['key'] = 'value'
json_data = json.dumps(data)