In [6]:
import pandas as pd
import json
import requests

In [4]:
df = pd.read_csv('./data/adzuna_transform.csv')

In [5]:
df.head()

,id,post_url,title,title_keyword,tags,description,publication_date,location,latitude,longitude,inserted_date
0,A1549335342,https://www.adzuna.com/land/ad/1549335342?se=T...,Data Engineer,data_engineer,it_jobs,... for good. <strong>Data</strong> <strong>E...,2020-05-19,"['US', 'Illinois', 'Cook County', 'Chicago', '...",41.868494,-87.673975,2020-05-23
1,A1537091904,https://www.adzuna.com/land/ad/1537091904?se=T...,Data Engineer / Lead Data Engineer,data_engineer_/_lead_data_engineer,it_jobs,"Menlo Park, CA <strong>Data</strong> <strong>E...",2020-05-05,"['US', 'California', 'San Mateo County', 'Menl...",37.448491,-122.180281,2020-05-23
2,A1540746038,https://www.adzuna.com/land/ad/1540746038?se=T...,Data Engineer,data_engineer,it_jobs,<strong>Data</strong> <strong>Engineer</strong...,2020-05-09,"['US', 'Washington', 'King County', 'Seattle']",47.608492,-122.336407,2020-05-23
3,A1533100037,https://www.adzuna.com/land/ad/1533100037?se=T...,Data Engineer,data_engineer,it_jobs,Role <strong>Data</strong> <strong>Engineer</s...,2020-04-30,"['US', 'Delaware', 'New Castle County', 'Wilmi...",39.731260,-75.545138,2020-05-23
4,A1550148404,https://www.adzuna.com/land/ad/1550148404?se=T...,Data Engineer,data_engineer,it_jobs,Role FullStack <strong>Data</strong> <strong>E...,2020-05-20,"['US', 'New York']",42.522869,-75.574677,2020-05-23

In [ ]:
# use elasticsearch Bulk API to perform multipe indexing operations in a single API call...
# looks something like 

POST jobs/_bulk
{ "index" : { "_id" : "id" }}
{ "post_url": "url", "title": "title"}

# if indexing a document:
# { "index" : { "_index" : "test", "_id" : "1" } }
# { "field1" : "value1" }
# { "delete" : { "_index" : "test", "_id" : "2" } }
# { "create" : { "_index" : "test", "_id" : "3" } }
# { "field1" : "value3" }
# { "update" : {"_id" : "1", "_index" : "test"} }
# { "doc" : {"field2" : "value2"} }

# thinking about transforming it to a json object, and then looping over it????

In [50]:
query = list()

In [51]:
for index, row in df.iterrows():
    query.append({"index": {"_id" : row['id']}})
    query.append({"post_url": row["post_url"], "title":row["title"], "title_keyword":row["title_keyword"], "tags":row["tags"], "description":row["description"], "publication_date":row["publication_date"], "location_raw":row["location"], "location_point":f"{row['latitude']},{row['longitude']}"})

In [52]:
query[:3]

[{'index': {'_id': 'A1549335342'}},
 {'post_url': 'https://www.adzuna.com/land/ad/1549335342?se=TATrljCd6hGHVESz3xsA5Q&utm_medium=api&utm_source=da871bdc&v=B4EFA78CF416B570A4453DBD2C44A87C643CF0A4',
  'title': 'Data Engineer',
  'title_keyword': 'data_engineer',
  'tags': 'it_jobs',
  'description': '...  for good. <strong>Data</strong> <strong>Engineer</strong> Do you want to work for a tech company that writes its own code, develops its own software, and builds its own products? We experiment and innovate leveraging ...',
  'publication_date': '2020-05-19',
  'location_raw': "['US', 'Illinois', 'Cook County', 'Chicago', 'Illinois Medical District']",
  'location_point': '41.868494,-87.673975'},
 {'index': {'_id': 'A1537091904'}}]

In [54]:
with open("./data/bulk_query.txt", 'w') as f:
    for item in query:
        f.write(f'{json.dumps(item)}\n')

In [7]:
import json
import requests
from pprint import pprint