In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('adzuna_transform.csv')

In [8]:
df.head()

,id,PostURL,Title,TitleKeyword,Tags,Description,PublicationDate,Location,Latitude,Longitude,InsertedDate
0,AA1549335342,https://www.adzuna.com/land/ad/1549335342?se=Y...,Data Engineer,data_engineer,it_jobs,... for good. <strong>Data</strong> <strong>E...,2020-05-19,"['US', 'Illinois', 'Cook County', 'Chicago', '...",41.868494,-87.673975,2020-05-23
1,AA1540746038,https://www.adzuna.com/land/ad/1540746038?se=Y...,Data Engineer,data_engineer,it_jobs,<strong>Data</strong> <strong>Engineer</strong...,2020-05-09,"['US', 'Washington', 'King County', 'Seattle']",47.608492,-122.336407,2020-05-23
2,AA1537091904,https://www.adzuna.com/land/ad/1537091904?se=Y...,Data Engineer / Lead Data Engineer,data_engineer_/_lead_data_engineer,it_jobs,"Menlo Park, CA <strong>Data</strong> <strong>E...",2020-05-05,"['US', 'California', 'San Mateo County', 'Menl...",37.448491,-122.180281,2020-05-23
3,AA1533100037,https://www.adzuna.com/land/ad/1533100037?se=Y...,Data Engineer,data_engineer,it_jobs,Role <strong>Data</strong> <strong>Engineer</s...,2020-04-30,"['US', 'Delaware', 'New Castle County', 'Wilmi...",39.731260,-75.545138,2020-05-23
4,AA1550148404,https://www.adzuna.com/land/ad/1550148404?se=Y...,Data Engineer,data_engineer,it_jobs,Role FullStack <strong>Data</strong> <strong>E...,2020-05-20,"['US', 'New York']",42.522869,-75.574677,2020-05-23